<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s10  offset-s1">
        <div class="input-field col s12">
          <i class="material-icons prefix">apps</i> <br>
          <label class="tituloregistromodal" id="titulocrearperiodico"> Crear nueva plantilla </label>
        </div>
      </div>
    </div>
    <div class="col s10  offset-s1">
      <div class="col s12">
        <div class="input-field col s12">
          <input  [(ngModel)]="municipio"  id="autocomplete2" name="autocomplete2"  autocomplete="off" type="text" (ngModelChange)="esconderdespuesdebuscar()" >
          <label class="atributoscuestionariotitulos" for="municipio">Municipio</label>
        </div>
        <div  class="col s6">
          <a id="btnverificarpago" class="waves-effect waves-light btn-small"   (click)="buscarlocalidades()"  > Buscar</a><br>
        </div>
      </div>
    </div>
    <div class="col s10  offset-s1" *ngIf="mostardespuesmunicipio"><br>
      <div class="col s12">
        <div class="input-field col s12">
          <input  type="text" id="autocomplete" name="autocomplete"  [(ngModel)]="localidad" (change)="validarlocalidad()" (ngModelChange)="validarlocalidad()">
          <label class="atributoscuestionariotitulos" for="localidad">Localidad</label>
        </div>
      </div>
    </div>
    <div class="col s10  offset-s1" *ngIf="mostardespueslocalidad">
      <div class="col s12">
        <div class="input-field col s12">
          <input  type="text" id="autocomplete3" name="autocomplete3"  [(ngModel)]="modalidad" (change)="validarmodalidad()">
          <label class="atributoscuestionariotitulos" for="modalidad">Modalidad</label>
        </div>
      </div>
    </div>
    <div class="col s10  offset-s1" *ngIf="mostardespuesmodalidad">
      <div class="col s12">
        <div class="input-field col s12">
          <input  type="text" id="descripcion" [(ngModel)]="descripcion" name="descripcion"  >
          <label class="atributoscuestionariotitulos" for="localidad">Descripción</label>
        </div>
      </div>
    </div>
    <div class="col s10  offset-s1" *ngIf="mostardespuesmodalidad">
      <div class="col s12">
        <div class="col s12 m12">
          <label class="atributoscuestionariotitulos" for="localidad">Selecciona el periódico oficial de la plantilla</label>
          <p-table  #dt  [value]="newspapers" [paginator]="true" [rows]="10" [responsive]="true" [globalFilterFields]="['descripcion','fecha_publicacion','tomo','numero']">
            <ng-template pTemplate="caption">
              <div class="col s8 offset-s4" id="divsearchmob">
                <div class="input-field">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <input id="inputsearchuser" type="text" pInputText size="50"  (input)="dt.filterGlobal($event.target.value, 'contains')" >
                 </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width:40%">
                  <label class="tabladiariooficial">
                    Descripción
                  </label>
                </th>
                <th style="width:20%">
                  <label class="tabladiariooficial">
                    Fecha Publicación
                  </label>
                </th>
                <th style="width:10%">
                  <label class="tabladiariooficial">
                    Tomo
                  </label>
                </th>
                <th style="width:10%">
                  <label class="tabladiariooficial">
                    Numero
                  </label>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr (click)=seleccionardiario(rowData,$event);  class="sinfondo">
                <td>
                  <div>
                    <label class="tabladiariooficial">
                      {{rowData.descripcion}}
                    </label>
                  </div>
                </td>
                <td>
                  <div>
                    <label class="tabladiariooficial">
                      {{rowData.fecha_publicacion}}
                    </label>
                  </div>
                </td>
                <td>
                  <div>
                    <label class="tabladiariooficial">
                      {{rowData.tomo}}
                    </label>
                  </div>
                </td>
                <td>
                  <div>
                    <label class="tabladiariooficial">
                      {{rowData.numero}}
                    </label>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="col-md-12 center text-center">
            <span class="left" id="total_reg"></span>
            <ul class="pagination pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col s10  offset-s1" *ngIf="mostardespuesmodalidad">
      <div class="col s10 offset-s2">
        {{mensaje}}
      </div>
    </div><br><br>
    <div class="col s11  offset-s1" *ngIf="mostardespuesperiodicooficial">
      <div class="col s12">
        <a class="btn-floating " (click)="addruta()"><i class="material-icons">add</i></a><br>
      </div>
    </div><br><br>
    <div  class="col s11  offset-s1" *ngFor="let ruta  of arrayrutas; let i = index"  >
      <div class="col s12" *ngIf="mostardespuesperiodicooficial">
        <label  class="atributoscuestionariotitulos">Ruta {{i+1}}</label>
      </div>
      <div class="col s12" *ngIf="mostardespuesperiodicooficial">
        <div class="col s4 input-field inline">
          <input id="origen{{i+1}}" [(ngModel)]="ruta.origen" type="text" class="form-control" (ngModelChange)="validarrutas()">
          <label class="atributoscuestionariotitulos" for="origen{{i+1}}">Origen ruta {{i+1}}</label><br>
        </div>
        <div class="col s4 input-field inline" *ngIf="mostardespuesperiodicooficial">
          <input id="destino{{i+1}}" [(ngModel)]="ruta.destino" type="text" class="form-control" (ngModelChange)="validarrutas()">
          <label class="atributoscuestionariotitulos" for="destino{{i+1}}">Destino ruta {{i+1}}</label><br>
        </div>
        <div class="col s2 input-field inline" *ngIf="mostardespuesperiodicooficial">
          <input id="tarifa{{i+1}}" [(ngModel)]="ruta.tarifa" type="number" class="form-control" specialNumberAndDecimalOnly step=".5" (ngModelChange)="convertirALetras(ruta)">
          <label class="atributoscuestionariotitulos" for="tarifa{{i+1}}">Tarifa ruta {{i+1}}</label><br>
        </div>
        <div class="col s2 input-field inline" *ngIf="mostardespuesperiodicooficial">
          <a class="btn-floating " (click)="deleteruta(i)"><i class="material-icons">clear</i></a>
        </div>
      </div>
    </div>
    <div class="col s10  offset-s2"><br>
      <div class="col s4  offset-s1" id="divbtncrearperiodico">
        <a *ngIf="municipio == undefined || localidad == undefined || modalidad == undefined || descripcion == undefined || arrayrutas.length == 0 || newspaperselect == undefined || !verificarrutas" id="btncrearplantilla" class="waves-effect waves-light btn-small disabled" ><i class="material-icons left" >arrow_downward</i>Crear plantilla</a>
        <a *ngIf="municipio != undefined && localidad != undefined && modalidad != undefined && descripcion != undefined && arrayrutas.length > 0  && newspaperselect != undefined && verificarrutas" id="btncrearplantilla" class="waves-effect waves-light btn-small"   (click)="crearruta()"><i class="material-icons left" >arrow_downward</i>Crear plantilla</a>
      </div>
      <div class="col s4  offset-s1" id="divbtncerrar">
        <a  id="btncerrar" class="btn modal-close waves-effect waves-light btn-small"  (click)="limpiar()">Cancelar</a>
      </div>
    </div>
  </div>
</div>
