<div class="container"><br>
  <div class="card">
    <div class="row"><br>
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6"><a href="#plantilla"><label  id="nav1cambiotamanio" >Plantilla</label></a></li>
            <li class="tab col s6"><a href="#diarioficial"><label  id="nav1cambiotamanio">Periódico Oficial</label></a></li>
          </ul>
        </div>
        <div id="plantilla" class="col s12">
          <div class="col s10 offset-s1" id="responsible1">
            <div class="col s12 m12"><br><br>
              <p-table  #dt  [value]="plantillas" [paginator]="true" [rows]="10" [responsive]="true">
                <ng-template pTemplate="caption">
                  <div class="col s8" id="div12responsive">
                    <div class="valign-wrapper">
                      <div class="col s1 offset-s1" id="cambioenmob1" >
                        <div class="tooltip">
                          <a class="btn-floating modal-trigger"   data-position="bottom" data-target="modalcreateplantilla" ><i class="material-icons">add</i></a>
                          <span class="tooltiptext">Crear tramite</span>
                        </div>
                      </div><br><br>
                    </div><br>
                  </div>
                  <div class="col s4" id="divsearchmob">
                    <div class="input-field">
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <input id="inputsearchuser" type="text" pInputText size="50"  (input)="dt.filterGlobal($event.target.value, 'contains')" ><br>
                    </div><br>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width:30%">
                      <label class="tabladiariooficial">
                        Nombre
                      </label>
                    </th>
                    <th style="width:20%">
                      <label class="tabladiariooficial">
                        Localidad
                      </label>
                    </th>
                    <th style="width:20%">
                      <label class="tabladiariooficial">
                        Municipio
                      </label>
                    </th>
                    <th style="width:15%">
                      <label class="tabladiariooficial">
                        Modalidad
                      </label>
                    </th>
                    <th style="width:15%">
                      <label class="tabladiariooficial">
                        Periódico / Fecha
                      </label>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr class="sinfondo">
                    <td>
                      <div>
                        <label  class="tabladiariooficial">
                          {{rowData.nombre}}
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label  class="tabladiariooficial">
                          {{rowData.localidad.nombre}}
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label  class="tabladiariooficial">
                          {{rowData.localidad.municipio.nombre}}
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label  class="tabladiariooficial">
                          {{rowData.modalidad.nombre}}
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label  class="tabladiariooficial">
                          {{rowData.periodico.fechaPublicacion}}
                        </label>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="col-md-12 center text-center">
                <span class="left" id="total_reg"></span>
                <ul class="pagination pager" id="myPager"></ul>
              </div>
            </div>
          </div>
        </div>
        <div id="diarioficial" class="col s12">
          <div class="row">
            <div class="col s12">
              <div class="col s10 offset-s1" id="responsible1">
                <div class="col s12 m12"><br><br>
                  <p-table  #dt  [value]="newspapers" [paginator]="true" [rows]="10" [responsive]="true" [globalFilterFields]="['descripcion','fechaPublicacion','tomo','numero']">
                    <ng-template pTemplate="caption">
                      <div class="col s8" id="div12responsive">
                        <div class="valign-wrapper">
                          <div class="col s1 offset-s1" id="cambioenmob1" >
                            <div class="tooltip">
                              <a class="btn-floating modal-trigger"   data-position="bottom" data-target="modalcreatediario" ><i class="material-icons">add</i></a>
                              <span class="tooltiptext">Crear Diario Oficial</span>
                            </div>
                          </div>
                          <div class="col s1 offset-s1" id="cambioenmob4" *ngIf="btninhabilitar">
                            <div class="tooltip">
                              <a class="btn-floating tooltipped"   data-position="bottom" data-tooltip="Desactivar usuario"><i class="material-icons">remove</i></a>
                              <span class="tooltiptext">Inhabilitar periódico oficial</span>
                            </div>
                          </div>
                          <div class="col s1 offset-s1" id="cambioenmob5" *ngIf="btninhabilitar">
                            <div class="tooltip">
                              <a class="btn-floating tooltipped"   data-position="bottom" data-tooltip="Activar usuario" ><i class="material-icons">check</i></a>
                              <span class="tooltiptext">Habilitar periódico oficial</span>
                            </div>
                          </div><br><br>
                        </div><br>
                      </div>
                      <div class="col s4" id="divsearchmob">
                        <div class="input-field">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <input id="inputsearchuser" type="text" pInputText size="50"  (input)="dt.filterGlobal($event.target.value, 'contains')" ><br>
                         </div>
                         <br>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width:40%">
                          <label  class="tabladiariooficial">
                            Descripcion
                          </label>
                        </th>
                        <th style="width:20%">
                          <label  class="tabladiariooficial">
                            Fecha Publicación
                          </label>
                        </th>
                        <th style="width:10%">
                          <label  class="tabladiariooficial">
                            Tomo
                          </label>
                        </th>
                        <th style="width:10%">
                          <label  class="tabladiariooficial">
                            Numero
                          </label>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr (click)=seleccionardiario(rowData,$event);  class="sinfondo">
                        <td>
                          <div>
                            <label  class="tabladiariooficial">
                              {{rowData.descripcion}}
                            </label>
                          </div>
                        </td>
                        <td>
                          <div>
                            <label  class="tabladiariooficial">
                              {{rowData.fechaPublicacion}}
                            </label>
                          </div>
                        </td>
                        <td>
                          <div>
                            <label  class="tabladiariooficial">
                              {{rowData.tomo}}
                            </label>
                          </div>
                        </td>
                        <td>
                          <div>
                            <label  class="tabladiariooficial">
                              {{rowData.numero}}
                            </label>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div class="col-md-12 center text-center">
                    <span class="left" id="total_reg"></span>
                    <ul class="pagination pager" id="myPager"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modalcreateplantilla" class="modal">
<div class="modal-content">
  <app-createplantilla></app-createplantilla>
</div>
</div>


<div id="modalcreatediario" class="modal">
<div class="modal-content">
  <app-creatediariooficial></app-creatediariooficial>
</div>
</div>
